body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background: #c3e8b5;
  background: linear-gradient(
    90deg,
    rgba(195, 232, 181, 1) 0%,
    rgba(139, 217, 224, 1) 50%,
    rgba(228, 209, 240, 1) 100%
  );
}

main.card {
  max-width: 320px;
  margin: 60px auto;
  padding: 20px 24px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  backdrop-filter: blur(6px);
}

h2 {
  font-weight: 300;
}

.profile_photo {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 50%;
  overflow: hidden;
}

.profile_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.contacts_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(186, 224, 13);
  margin: 20px auto 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

.contacts_btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.contacts_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  text-decoration: none;
  user-select: none;
  color: #000;
}
